---
layout: layouts/base.njk
eleventyNavigation:
  key: special
  title: Hilfe
  order: 4

date: Last Modified

tags:
  - footer
---
<section class="section">
  <div class="container">
    <h3>OrderBucket als Helfer in der Krise</h3>
    <h2 class="title">Nutzen Sie OrderBucket um Ihre Kunden weiterhinn zu erreichen</h2>
    <div class="title-divider"></div>
    <div class="container-section">
      <p>
        Der Coronavirus stellt für uns alle eine große und ungewohnte Herausforderung dar, die den Alltag der Menschen auf unabsehbare Zeit beeinflussen wird.
        Durch Ausgangsbeschränkungen und Ladenschließungen ist es unmöglich für Einzelhändler ihre Kundschaft zu erreichen.
        Dabei trifft es jeder Branche, ob Restaurant, Handwerker oder Selbständige. Gerade jetzt braucht es Lösungen für Einzelhändler die Gewinneinbußen
         zu kompensieren und neue Absatzwege zu schaffen.
      </p>
      <p>
        In diesen schwierigen Zeiten müssen wir alle Zusammenhalten. Die rocketbase software productions GmbH will aus diesem Grund
         einen Beitrag leisten und Einzelhändlern die Möglichkeit geben, mit einem symbolischen Beitrag die Krise zu überstehen.
      </p>
    </div>
    <div class="container-section">
      <p>
        Dabei können Sie mit einem Beitrag von 1€ pro Monat auf den vollen Umfang an Funktionalitäten von OrderBucket zugreifen.
        Das bietet Ihnen weiterhin die Chance Ihre Kunden auch zu Hause zu erreichen. Solange diese Krise anhalten wird soll Ihnen dabei
        diese Unterstüzung zur Verfügung stehen.
      </p>
      <p>Kontaktieren Sie uns gerne und wir besprechen alles weitere.</p>
    </div>
    <div class="container-section">
      <p>Bleiben Sie gesund!</p>
    </div>
    <div class="container-section">
      <p>Ihr Team von rocketbase.io</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <h3>Sie haben noch Fragen?</h3>
        <h2 class="title">Lassen Sie uns alles weitere besprechen.</h2>
        <div class="title-divider"></div>
        <p>Kontaktieren Sie uns und wir erklären Ihnen gerne alles im Detail.</p>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>

    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <form name="contact" method="POST" action="/form-submit" data-netlify="true">
          <input type="hidden" name="form-name" value="contact"/>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" required placeholder="Ihr Name">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email" required placeholder="Ihre Email-Adresse">
            </div>
          </div>

          <div class="field">
            <label class="label">Telefon</label>
            <div class="control">
              <input class="input" type="text" name="phone" placeholder="Ihre Telefonnummer">
            </div>
          </div>

          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Ihr Anliegen..." name="message" required></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="pleaseContact" required> Ich wünsche per Email/Telefon kontaktiert zu werden.
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Senden</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>
  </div>
</section>
