.padding-bottom {
  padding-bottom: 40px;
}

.container {

  .sub-section {
    font-weight: 600;
    padding: 1% 1% 1% 0;
  }

  .price-info {
    font-size: 0.6em;
    max-width: 800px;
  }
}

.container-price {
  text-align: center;
}


.notification.teaser {
  margin-bottom: 0;

  p {
    @media screen and (max-width: 768px) {
      font-size: 0.8em;
    }
  }
}

.home .navbar {
  background-color: #7096c5;

  .navbar-menu {
    background-color: #7096c5;
  }

  .navbar-brand .navbar-item {
    display: none;
  }

  .navbar-item a {
    color: #fff;

    &:hover {
      background-color: transparent;
      color: #fff;
      text-decoration: underline;
    }
  }
}

.navbar {
  background: transparent;

  .navbar-brand img {
    padding-right: 0.3em;
  }

  &-menu {
    .navbar-item {
      a {
        color: $grey-3;

        &:hover {
          background-color: transparent;
          color: $primary;
        }
      }

      &.active {
        a {
          color: $grey-3;
          text-decoration: underline;
        }
      }
    }

  }
}

.hero {
  color: $grey-white;
  min-height: 420px;

  &.no-min-height {
    min-height: auto;
  }

  h1 {
    color: $grey-white;
  }

  img.logo {
    width: 56px;
    height: 56px;
  }

  .hero-body {

    .title-divider {
      width: 160px;
      margin-bottom: 20px;
      background: $grey-white;
      height: 3px;
    }
  }
}

img.screenshot {
  width: 40vw;
  max-width: 600px;
  height: auto;
  margin: 0 auto;

  @media screen and (max-width: 769px) {
    width: 80vw;
  }
}

img.customer-logo {
  width: 20vw;
  max-width: 250px;
  height: auto;
  margin: 0 auto;

  @media screen and (max-width: 769px) {
    width: 80vw;
  }
}

.section, .hero {
  h3 {
    font-family: $family-hand-written;
    font-size: 1.5em;
  }

  .legal-text {
    h3 {
      font-family: $family-sans-serif;
      font-size: 1.5em;
      margin: 0.75em 0;
    }

    h2 {
      margin: 1em 0 0.75em 0;
    }
  }

  .title-divider {
    margin: 10px 0;
    width: 80px;
    height: 5px;
    background: $grey-3;

    &.is-right {
      margin-left: auto;
    }

    &.is-centered {
      margin: 10px auto;

      &.extra-margin-bottom {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}


figure {
  &.is-centered {
    margin: 0 auto;
  }
}


dl.dl-horizontal {
  margin-bottom: 0.7em;
  float: none;
  clear: both;

  dt {
    width: 170px;
    float: left;
  }

  dd {
    margin-left: 180px;
  }
}

.extra-margin-bottom {
  margin-bottom: 20px;
}

.legal-text {
  h3 {
    font-family: $family-sans-serif;
    font-size: 1.5em;
    margin: 0.75em 0;
  }

  h2 {
    margin: 1em 0 0.75em 0;
  }
}
