.padding-bottom {
  padding-bottom: 40px;
}

.navbar {
  background: transparent;
  min-height: 4.5rem;
  position: absolute;
  top: 0;
  width: 100%;

  &-menu {
    .navbar-item {
      a {
        color: $grey-3;

        &:hover {
          background-color: transparent;
          color: $primary;
        }
      }

      &.active {
        a {
          color: $grey-3;
          text-decoration: underline;
        }
      }
    }

  }
}

.hero {
  color: $grey-white;
  min-height: 420px;

  &.no-min-height {
    min-height: auto;
  }

  h1 {
    color: $grey-white;
  }

  img.logo {
    width: 56px;
    height: 56px;
  }

  .hero-body {

    .title-divider {
      width: 160px;
      margin-bottom: 20px;
      background: $grey-white;
      height: 3px;
    }
  }
}

img.screenshot {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  width: 40vw;
  max-width: 600px;
  height: auto;
  margin: 0 auto;

  @media screen and (max-width: 769px) {
    width: 80vw;
  }
}

.section, .hero {
  h3 {
    font-family: $family-hand-written;
    font-size: 1.5em;
  }

  .legal-text {
    h3 {
      font-family: $family-sans-serif;
      font-size: 1.5em;
      margin: 0.75em 0;
    }

    h2 {
      margin: 1em 0 0.75em 0;
    }
  }

  .title-divider {
    margin: 10px 0;
    width: 80px;
    height: 5px;
    background: $grey-3;

    &.is-right {
      margin-left: auto;
    }

    &.is-centered {
      margin: 10px auto;

      &.extra-margin-bottom {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}


figure {
  &.is-centered {
    margin: 0 auto;
  }
}


dl.dl-horizontal {
  margin-bottom: 0.7em;
  float: none;
  clear: both;

  dt {
    width: 170px;
    float: left;
  }

  dd {
    margin-left: 180px;
  }
}

.extra-margin-bottom {
  margin-bottom: 20px;
}
