---
layout: layouts/base.njk
eleventyNavigation:
  key: price
  title: Preise
  order: 3

date: Last Modified

tags:
  - main
  - footer
---
<section class="section">
  <div class="container">
    <h3>Was kostet Sie das nun?</h3>
    <p>Orderbucket wird in drei unterschiedlichen Preismodellen angeboten. Dabei können Sie das passende Model für Ihren Bedarf auswählen.
      Je nach geplantem Umsatz kommt für Sie ein entsprechendes Model in Frage. Gerne können Sie sich auch nähere Informationen einholen.</p>

    <div class="price-comparison-container">
      <div class="columns">
        <ul class="price">
          <li class="header">Starter</li>
        </ul>
      </div>

      <div class="columns">
        <ul class="price">
          <li class="header">Standard</li>
        </ul>
      </div>

      <div class="columns">
        <ul class="price">
          <li class="header">Großhandel</li>
        </ul>
      </div>
    </div>

    <div class="price-info">
     <p>** Transaktionsgebühr wird mit dem monatlichen Sockelbeitrag verrechnet, d.h. es werden immer der Sockelbeitrag
     fällig, wenn jedoch die Summe aus den Transaktionsgebühren höher als diese ist, bestimmen die
     Transaktionsgebühren den monatlichen Beitrag. Prozent sind bezogen auf den Nettorechnungswert.</p>
     <p>*** Von Montag bis Freitag in der Zeit zwischen 9:00 und 18:00 Uhr telefonisch erreichbar</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h3>Ein paar Beispiele</h3>
    <div>
      <p>Bei 2000 € Nettogesamtbestellwert fallen 60 € Transaktionsgebühr an, diese werden vollständig mit dem Sockelbeitrag verrechnet. Damit werden die Kosten für den Monat 60 € betragen.</p>
    </div>
    <div>
      <p>Der Sockelbeitrag wird in diesem Beispiel nicht erreicht oder überschritten.</p>
      <p>Bei einem Nettogesamtbestellwert von 1000 € fallen in diesem Fallen Transaktionsgebühren in Höhe von 30 € an. Der Sockelbeitrag ist allerdings höher. Damit werden die Kosten für den Monat 50 € betragen.</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <h3>Sie haben noch Fragen?</h3>
        <h2 class="title">Lassen Sie uns alles weitere besprechen.</h2>
        <div class="title-divider"></div>
        <p>Kontaktieren Sie uns und wir erklären Ihnen gerne alles im Detail.</p>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>

    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <form name="contact" method="POST" action="/form-submit" data-netlify="true">
          <input type="hidden" name="form-name" value="contact"/>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" required placeholder="Ihr Name">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email" required placeholder="Ihre Email-Adresse">
            </div>
          </div>

          <div class="field">
            <label class="label">Telefon</label>
            <div class="control">
              <input class="input" type="text" name="phone" placeholder="Ihre Telefonnummer">
            </div>
          </div>

          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Ihr Anliegen..." name="message" required></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="pleaseContact" required> Ich wünsche per Email/Telefon kontaktiert zu werden.
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Senden</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>
  </div>
</section>
