---
layout: layouts/home.njk
eleventyNavigation:
  key: users
  title: Nutzer
  order: 2

date: Last Modified

tags:
  - main
  - footer
---
<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/stueckgut-logo.jpg" class="customer-logo"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
      <div class="column">
        <h3>Stückgut</h3>
        <h2 class="title">Kunde der ersten Stunde</h2>
        <div class="title-divider"></div>
        <p>Stückgut war von Anfang an mit dabei. Zusammen mit Stückgut war es möglich direkt Feedback von wirklichen
          Anwendern einzuholen. Die rocketbase.io software productions GmbH ist glücklich bei der Konzeption und
          Entwicklung einen wirklichen Anwender aus der Branche an seiner Seite gehabt zu haben und nun den erfolgreichen
          Betrieb von OrderBucket verfolgen zu können.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="title">Die Geschichte</h2>
        <div class="title-divider"></div>
        <p>Stückgut Unverpackt Einkaufen GmbH ist ein Einzelhändler für unverpackte Waren in Hamburg.
          Die Gründer eröffneten 2017 den ersten komplett verpackungsfreien Laden! Mittlerweile bietet Stückgut
          an zwei Standorten in Hamburg seine Waren an.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="title">Das hat Stückgut erwartet</h2>
        <div class="title-divider"></div>
        <p>Stückgut hatte sich Anfang 2019 vorgenommen Snackboxen an Unternehmen aber auch an Private Haushalte
          auszuliefern. Dadurch wollte Stückgut, neben dem normalen Ladengeschäft, seinen Kunden mit gesunden und
          nachhaltigen Snackboxen zu versorgen. Anbieter derartiger Dienste entstehen gerade in den Städten immer häufiger.
          Dabei lassen sich Unternehmen mit frischen Obstkörben vom Bio Landwirt oder kleinen Snackboxen mit allerlei Naschkram beliefern.
          Immer mehr Unternehmen nehmen für ihre Mitarbeiter und Kunden solche Dienste in Anspruch.
          Dabei fiel Stückgut eines auf: In Hamburg gibt es keinen Anbieter für nachhaltige und gesunde Snackboxen.</p>
          <p>Mit OrderBucket hat Stückgut das nötige Werzeug an die Hand bekommen, um den Anforderungen eines Lieferdienstes
            gerecht zu werden.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="title">Das hat Stückgut bekommen</h2>
        <div class="title-divider"></div>
        <p>Neben den <a href="/pages/product">Funktionalitäten</a>, die OrderBucket bietet ergaben sich neue Möglichkeiten
          für Stückgut, um ihr Geschäft breiter aufzustellen.</p>
        <h2>Senkung der Kosten</h2>
        <p>Ein wichtiger Aspekt im Versandbereich ist die Effizienz. Mit orderbucket packt Stückgut jetzt nicht mehr
          pro Kunde ab, sondern packt für einen speziellen Liefertermin sämtliche Snackboxen.
          Dadurch entsteht eine enorme Effizienzsteigerung.</p>
        <h2>Neue Kunden</h2>
        <p>Durch den Versand von Snackboxen hat Stückgut einen neuen zusätzlichen Kundenstamm erschlossen.
          Gerade Unternehmen, die sonst nicht über ein Ladengeschäft bedienbar wären, zeigen großes Interesse an
          nachhaltigen Snackboxen. Netter Nebeneffekt: Stückgut macht auch in den Unternehmen bei privaten Personen einen
          guten Eindruck und vergrößert damit die eigene Bekanntheit.</p>
        <h2>Neue Geschäftsbereiche</h2>
        <p>Mit dem Versand von Snackboxen, gerade an Unternehmen, die ihre Bestellungen wiederkehrend durchführen,
          kann Stückgut nun auf kontinuierliche und planbare Einkünfte zurückgreifen.</p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h3>Feedback</h3>
        <h2 class="title">Das sagt Stückgut über OrderBucket</h2>
        <div class="title-divider"></div>
        <p>“Mithilfe von rocketbase konnten wir einen neuen Geschäftsbereich aufbauen. Unsere Kunden können nun auch
          unkompliziert Ihre Snackboxen online bestellen.”</p>
        <p>Insa Dehne · Stückgut Einzelhandel GmbH</p>
      </div>
    </div>
  </div>
</section>

