---
layout: layouts/home.njk
eleventyNavigation:
  key: users
  title: Nutzer
  order: 2
---
<div class="special-banner">
  <p>Hilfe in schweren Zeiten: Wir unterstützen Einzelhändler mit einem Onlineshop durch die Krise zu gelangen. <a href="/pages/special">Mehr Infos</a></p>
</div>
{% set navPages = collections.all | eleventyNavigation %}
<ul class="header-navigation">
{%- for entry in navPages %}
  <li{% if entry.url == page.url %} class="header-navigation-item--active header-navigation-item"{% endif %} class="header-navigation-item">
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
  </li>
{%- endfor %}
</ul>

<section class="section">
  <div class="container">
    <h3>So verwenden andere Orderbucket</h3>
  </div>
</section>

<section class="section">
  <div class="container">
    <h3>Stückgut - Hamburg</h3>
  </div>
</section>
