---
layout: layouts/base.njk
eleventyNavigation:
  key: price
  title: Preise
  order: 3

date: Last Modified

contactIntro: Sie haben Redebedarf?
contactHeader: Lassen Sie uns alles weitere besprechen.

showTeaser: true

tags:
  - main
  - footer
---
<section class="section">
  <div class="container">
    <h2 class="title">Eine Übersicht über unsere Preismodelle</h2>
    <p>Orderbucket wird in drei unterschiedlichen Preismodellen angeboten. Dabei können Sie das passende Model für
      Ihren Bedarf auswählen. Je nach erwarteten Umsatz kann für Sie ein entsprechendes Model in Frage kommen.</p>
      <p>Gerne können Sie sich auch mit uns in Verbindung setzen und wir beraten Sie gerne.</p>

  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns container-price">
      <div class="column">
        <ul class="price">
          <li class="header">Starter</li>
        </ul>
      </div>
      <div class="column">
        <ul class="price">
          <li class="header">Standard</li>
        </ul>
      </div>
      <div class="column">
        <ul class="price">
          <li class="header">Großhandel</li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="price-info">
        <p>** Transaktionsgebühr wird mit dem monatlichen Sockelbeitrag verrechnet, d.h. es werden immer der Sockelbeitrag
          fällig, wenn jedoch die Summe aus den Transaktionsgebühren höher als diese ist, bestimmen die
          Transaktionsgebühren den monatlichen Beitrag. Prozent sind bezogen auf den Nettorechnungswert.</p>
        <p>*** Von Montag bis Freitag in der Zeit zwischen 9:00 und 18:00 Uhr telefonisch erreichbar</p>
      </div>
    </div>

  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column" style="text-align: center;">
        <h3>Beispiel 1</h3>
        <p>Der Sockelbeitrag wird in diesem Beispiel überschritten.</p>
        <p>Bei 2000 € Nettogesamtbestellwert fallen 60 € Transaktionsgebühr an, diese werden vollständig mit dem
          Sockelbeitrag verrechnet. Damit werden die Kosten für den Monat 60 € betragen.</p>
      </div>
      <div class="column" style="text-align: center;">
        <h3>Beispiel 2</h3>
        <p>Der Sockelbeitrag wird in diesem Beispiel nicht erreicht.</p>
        <p>Bei einem Nettogesamtbestellwert von 1000 € fallen Transaktionsgebühren in Höhe von 30 € an. Der Sockelbeitrag ist allerdings höher, sodass die Kosten in diesem Monat 50 € betragen.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="title">FAQ</h2>
        <p>Hier versuchen wir häufig gestellte Fragen zu beantworten. Alles weitere besprechen wir dann persönlich mit Ihnen.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="sub-section">Was sind Transaktionsgebühren?</h2>
        <div class="title-divider"></div>
        <p>Die Abrechnung bei OrderBucket erfolgt anhand von Transaktionsgebühren. Je nach Ihrem gewählten Betrag kommt
          für Sie eine unterschiedliche Transaktionsgebühr zum Einsatz. Diese kann <b>6%</b>, <b>3%</b> oder <b>1,5%</b> betragen. Die
          Transaktionsgebühr wird auf den von Ihnen mit OrderBucket erwirtschafteten Gewinn angerechnet und stellt den zu
          zahlenden Betrag eines jeden Monats dar.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="sub-section">Was ist der Sockelbetrag?</h2>
        <div class="title-divider"></div>
        <p>Der Sockelbetrag ist der von uns festgelegte Mindestbeitrag, der gezahlt werden muss, solange die Transaktionsgebühren
          unter dem Betrag des gewünschten Pakets liegen. Er gibt uns die Sicherheit, die Kosten des Systems zu decken.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="sub-section">Kann ich zunächst einen Testzugang beantragen?</h2>
        <div class="title-divider"></div>
        <p>Es werden Testzugänge von uns angeboten mit denen Sie sich an einem Testsystem anmelden können. Diese erfüllen
          lediglich den Zweck, dass Sie sich mit der Anwendung vertraut machen können und einen ersten Eindruck erlangen können.
          Sie können einzelne Funktionalitäten und Abläufe durchtesten und sich dann, wenn Ihnen das Produkt gefällt sich
          für das entsprechende Paket entscheiden.</p>
        <p>Kontaktieren Sie uns einfach und wir vergeben Ihnen einen Testzugang.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="sub-section">Wann ist die Zahlung fällig?</h2>
        <div class="title-divider"></div>
        <p>Rechnungen werden Ihnen in der Regel Elektronisch übermittelt und sind nach Erhalt innerhalb von
          vierzehn (14) Tagen zu begleichen</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h2 class="sub-section">In welchem Zeitraum kann ich meinen Vertrag kündigen?</h2>
        <div class="title-divider"></div>
        <p>Die Laufzeit, unabhängig welches Paket Sie ausgewählt haben, beträgt generell einen Monat. Der Vertrag verlängert
        sich automatisch, sofern Sie nicht innerhalb des Kündigungsfrist wiedersprechen.</p>
        <p>Eine Kündigung muss mit einer Frist von einer Woche zum Ende der jeweiligen Laufzeit schriftlich gekündigt werden.</p>
      </div>
    </div>
  </div>

</section>


{% include "contact.njk" %}
