---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 0
  title: Home

date: Last Modified
tags:
  - footer


contactIntro: Ganz nach Ihrem Geschmack?
contactHeader: Sie möchten Orderbucket selbst ausprobieren?

showTeaser: true
title: orderbucket.io
description: "Orderbucket schafft einen neuen Vertriebskanal zu Ihren Kunden. Lassen Sie Orderbucket die Bestellung und Koordination von Belieferungen organisieren."
---

<section class="hero shape-waves">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6-desktop is-8-tablet">
          <h1 class="title">OrderBucket</h1>
          <div class="title-divider long-version extra-margin-bottom"></div>
          <div class="columns is-mobile">
            <div class="column is-narrow is-hidden-mobile">
              <img src="/img/orderbucket-white.svg" class="image logo">
            </div>
            <div class="column">
              <p>Ein einfaches System, welches sich vor allem an Einzelhändler richtet, die Ihren Kunden Lieferdienste
                anbieten möchten.</p>
            </div>
          </div>
        </div>
        <div class="column is-hidden-mobile">
          <figure class="image">
            <img src="/img/desktop-mockup.png" alt="Screenshot der Bestellmaske für Kunden und Backend">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Unverpackt und Onlineshop?</h3>
        <h2 class="title">Mit OrderBucket ist das möglich</h2>
        <div class="title-divider"></div>
        <p>Mit orderbucket kann jeder seinen eigenen Webshop erstellen und mit einem Lieferdienst durchstarten. Dabei ist
          kein technisches Know-How nötig. Sie erhalten Ihren Zugang zum System und können beginnen Produkte im Webshop
          anzubieten. Wir stellen alle Systeme für Sie ein und Sie können direkt mit Ihrem Lieferdienst erste Erfolge feiern. </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/gifs/backoffice-product.gif" class="screenshot has-shadow"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
      <div class="column">
        <h3>Backoffice</h3>
        <h2 class="title">Pflegen Sie ihr Sortiment</h2>
        <div class="title-divider"></div>
        <p>Pflegen Sie Ihr Sortimennt im Backoffice. Ebenso Kunden, Rechnungen, Bestellungen oder Auslieferungen werden bequem
          vonn Ihnen über das Backoffice verwaltet.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Webshop</h3>
        <h2 class="title">Zeigen Sie Ihren Kunden ihr Sortiment</h2>
        <div class="title-divider"></div>
        <p>Wir transporieren Ihr Ladensortiment ins Internet. Mit dem Backoffice lassen sich Produktbilder,
          Beschreibungen und Verfügbarkeiten pflegen und der Auftritt an Ihren Geschmack anpassen. Ihr Kunden können über den Webshop
            spielerisch leicht Bestellungen zusammenstellen.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/gifs/shop-browse.gif" class="screenshot has-shadow"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/office-snack.jpg" class="screenshot has-shadow"
             alt="Office-Snack">
      </div>
      <div class="column">
        <h3>Neue Möglichkeiten</h3>
        <h2 class="title">Erweitern Sie Ihren Kundenstamm</h2>
        <div class="title-divider"></div>
        <p>Erreichen Sie auch Unternehmen mit wiederkehrenden Bestellungen.</p>
        <p>Jeder Ihrer Kunden erhält einen individuellen Link, über den ein Warenkorb gefüllt werden kann.
          Dies kann durch eine einzelne Person ausgeführt werden, aber auch durch das ganze Team. Kontrolliert und
          abgeschickt wird die Bestellung dann von einem Verantwortlichen aus dem Team.</p>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h3>Sicher in der Cloud</h3>
        <h2 class="title">100% Sicher und 100% Ökologisch</h2>
        <div class="title-divider"></div>
        <p>Die Software wird von einem Hamburger Dienstleister in einem deutschen Rechenzentrum, versorgt durch 100% Ökostrom, betrieben.
        So sind Ihre Kundendaten jederzeit sicher und zu 100% DSGVO konform.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/ecological.jpg" class="screenshot has-shadow"
             alt="Ökologisch wirtschaften">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-narrow has-text-centered">
        <img src="/img/mock-email.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
      <div class="column">
        <h3>So könnte es aussehen</h3>
        <h2 class="title">Orderbucket im Einsatz</h2>
        <div class="title-divider"></div>
        <p>Schauen Sie sich die Erfolgsgeschichten unserer Kunden an.</p>
        <p><a href="/users">Mehr dazu</a></p>
      </div>
    </div>
  </div>
</section>



{% include "contact.njk" %}
