---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 0
  title: Home

date: Last Modified
tags:
  - footer

title: orderbucket.io
description: "Orderbucket schafft einen neuen Vertriebskanal zu Ihren Kunden. Lassen Sie Orderbucket die Bestellung und Koordination von Belieferungen organisieren."
---

<section class="hero shape-waves">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6-desktop is-8-tablet">
          <h1 class="title">OrderBucket</h1>
          <div class="title-divider long-version extra-margin-bottom"></div>
          <div class="columns is-mobile">
            <div class="column is-narrow is-hidden-mobile">
              <img src="/img/orderbucket-white.svg" class="image logo">
            </div>
            <div class="column">
              <p>Ein einfaches System, welches sich vor allem an Einzelhändler richtet, die Ihren Kunden Lieferdienste
                anbieten möchten.</p>
            </div>
          </div>
        </div>
        <div class="column is-hidden-mobile">
          <figure class="image">
            <img src="/img/order-mockup.png" alt="Screenshot der Bestellmaske für Kunden">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h3>Kurz erklärt</h3>
    <h2 class="title">Was ist Orderbucket</h2>
    <div class="title-divider"></div>
    <p>Das Produkt richtet sich an Einzelhändler die einen Lieferservices für Ihre Kundschaft einrichten möchten.
      Ähnlich der bekannten Gemüsekiste vom Landwird um die Ecke. Ihre Kunden bestellen in regelmäßigen Abständen
      Produkte aus Ihrem Sortiment. Mit Hilfe von Orderbucket lässt sich das Packen, Beliefern, Abrechnen und vieles
      mehr organisieren.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-product.png" class="screenshot" alt="Productübersicht Backoffice">
      </div>
      <div class="column">
        <h3>Die Grundlage</h3>
        <h2 class="title">Das Backoffice zur Verwaltung der Angebote</h2>
        <div class="title-divider"></div>
        <p>Mit Hilfe des Backoffices könen Sie Ihre Produkte, Gebinde, Kunden und Lieferungen verwalten. Es stellt Ihre
          Kommandozentrale rund um Ihren Lieferservice dar.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Hilfe zur Selbsthilfe</h3>
        <h2 class="title">Bündelungen von Bestellungen zu Lieferungen</h2>
        <div class="title-divider"></div>
        <p>Oderbucket nimmt die Bestellungen Ihrer Kunden entgegen und sammelt deren Bestellungen. Mit Hilfe von
          Lieferterminen lassen sich Zustellungen Bündeln und so das Packen und Beliefern organisieren. Ein Assitent
          führt Sie sicher durch den Prozess und vereinfacht die Schritte mit Hilfe von durchdachten Masken.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-bundle-delivery.png" class="screenshot"
             alt="Bestellungen bündeln im Backoffice">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/online-presentation.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
      <div class="column">
        <h3>In Szene gesetzt</h3>
        <h2 class="title">Online Präsentation Ihreres Sortiments</h2>
        <div class="title-divider"></div>
        <p>Wir transporieren Ihr Ladensortiment ins Internet. Mit dem Backoffice lassen sich Produktbilder,
          Beschreibungen und Verfügbarkeiten pflegen und der Auftritt an Ihren Geschmack anpassen.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Der Kunde ist König</h3>
        <h2 class="title">Bestellungen schnell und einfach</h2>
        <div class="title-divider"></div>
        <p>Jeder Ihrer Kunden erhält einen individuellen Zugang zur Zusammenstellung seiner nächsten Lieferung.
        Dabei gibt es einen öffentlichen Bereich, in dem z.B. für eine Snackbox das gesamte Team entscheiden darf
        und einen geschützten Bereich, in dem die Bestellung abgeschickt werden kann.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/online-basket.png" class="screenshot"
             alt="Warenkorb eines Kunden">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-deposit.png" class="screenshot"
             alt="Pfandkonto im Backoffice pflegen">
      </div>
      <div class="column"><h3>An alles Gedacht</h3>
        <h2 class="title">Lieferscheine, Rechnung und Pfandkonto</h2>
        <div class="title-divider"></div>
        <p>Orderbucket kümmert sich um Lieferscheine für Ihre Kunden und den Kurier, die Rechnungserstellung sowie dem
          Pfandkonto Ihrer Kunden.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <h3>Ganz nach Ihrem Geschmack?</h3>
        <h2 class="title">Sie möchten Orderbucket selbst ausprobieren?</h2>
        <div class="title-divider"></div>
        <p>Kontaktieren Sie uns und wir erklären Ihnen gerne alles im Detail.</p>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>

    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <form name="contact" method="POST" action="/form-submit" data-netlify="true">
          <input type="hidden" name="form-name" value="contact"/>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" required placeholder="Ihr Name">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email" required placeholder="Ihre Email-Adresse">
            </div>
          </div>

          <div class="field">
            <label class="label">Telefon</label>
            <div class="control">
              <input class="input" type="text" name="phone" placeholder="Ihre Telefonnummer">
            </div>
          </div>

          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Ihr Anliegen..." name="message" required></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="pleaseContact" required> Ich wünsche per Email/Telefon kontaktiert zu werden.
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Senden</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>
  </div>
</section>
