---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 0
  title: Home

date: Last Modified
tags:
  - footer

templateClass: home
title: orderbucket.io
description: "Orderbucket schafft einen neuen Vertriebskanal zu Ihren Kunden. Lassen Sie Orderbucket die Bestellung und Koordination von Belieferungen organisieren."
---

<section class="hero shape-waves">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6-desktop is-8-tablet">
          <h1 class="title">OrderBucket</h1>
          <div class="title-divider long-version extra-margin-bottom"></div>
          <div class="columns is-mobile">
            <div class="column is-narrow is-hidden-mobile">
              <img src="/img/orderbucket-white.svg" class="image logo">
            </div>
            <div class="column">
              <p>Ein einfaches System, welches sich vor allem an Einzelhändler richtet, die Ihren Kunden Lieferdienste
                anbieten möchten.</p>
            </div>
          </div>
        </div>
        <div class="column is-hidden-mobile">
          <figure class="image">
            <img src="/img/order-mockup.png" alt="Screenshot der Bestellmaske für Kunden">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Onlineshop?</h3>
        <h2 class="title">Mit OrderBucket ist das möglich</h2>
        <div class="title-divider"></div>
        <p>Mit orderbucket kann jeder seinen eigenen Webshop erstellen und mit einem Lieferdienst durchstarten. Dabei ist
          kein technisches Know-How nötig. Sie erhalten Ihren Zugang zum System und können beginnen Produkte im Webshop
          anzubieten. Wir stellen alle Systeme für Sie ein und Sie können direkt mit Ihrem Lieferdienst erste Erfolge feiern. </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-products.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
      <div class="column">
        <h3>Backoffice</h3>
        <h2 class="title">Pflegen Sie ihr Sortiment</h2>
        <div class="title-divider"></div>
        <p>Pflegen Sie Ihr Sortimennt im Backoffice. Ebenso Kunden, Rechnungen, Bestellungen oder Auslieferungen werden bequem
          vonn Ihnen über das Backoffice verwaltet.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h3>Webshop</h3>
        <h2 class="title">Zeigen Sie Ihren Kunden ihr Sortiment</h2>
        <div class="title-divider"></div>
        <p>Wir transporieren Ihr Ladensortiment ins Internet. Mit dem Backoffice lassen sich Produktbilder,
          Beschreibungen und Verfügbarkeiten pflegen und der Auftritt an Ihren Geschmack anpassen. Ihr Kunden können über den Webshop
            spielerisch leicht Bestellungen zusammenstellen.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/webshop-order.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <!--<div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-products.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>-->
      <div class="column">
        <h3>Neue Möglichkeiten</h3>
        <h2 class="title">Erweitern Sie Ihren Kundenstamm</h2>
        <div class="title-divider"></div>
        <p>Erreichen Sie auch Unternehmen mit wiederkehrenden Bestellungen.</p>
        <p>Jeder Ihrer Kunden erhält einen individuellen Link, über den ein Warenkorb gefüllt werden kann.
          Dies kann durch eine einzelne Person ausgeführt werden, aber auch durch das ganze Team. Kontrolliert und
          abgeschickt wird die Bestellung dann von einem Verantwortlichen aus dem Team.</p>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h3>Sicher in der Cloud</h3>
        <h2 class="title">100% Sicher und 100% Öko</h2>
        <div class="title-divider"></div>
        <p>Die Software wird von einem Hamburger Dienstleister in einem deutschen Rechenzentrum, versorgt durch 100% Ökostrom, betrieben.
        So sind Ihre Kundendaten jederzeit sicher und zu 100% DSGVO konform.</p>
      </div>
      <!--<div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-products.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>-->
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column">
        <h3>So könnte es aussehen</h3>
        <h2 class="title">Andere Einzelhändler setzen orderbucket bereits ein</h2>
        <div class="title-divider"></div>
        <p>Schauen Sie sich die Erfolgsgeschichten unserer Kunden an.</p>
        <p><a href="/pages/users">Mehr dazu</a></p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/webshop-frontpage.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <h3>Ganz nach Ihrem Geschmack?</h3>
        <h2 class="title">Sie möchten Orderbucket selbst ausprobieren?</h2>
        <div class="title-divider"></div>
        <p>Kontaktieren Sie uns und wir erklären Ihnen gerne alles im Detail.</p>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>

    <div class="columns">
      <div class="column is-hidden-mobile is-3"></div>
      <div class="column">
        <form name="contact" method="POST" action="/form-submit" data-netlify="true">
          <input type="hidden" name="form-name" value="contact"/>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" name="name" required placeholder="Ihr Name">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" name="email" required placeholder="Ihre Email-Adresse">
            </div>
          </div>

          <div class="field">
            <label class="label">Telefon</label>
            <div class="control">
              <input class="input" type="text" name="phone" placeholder="Ihre Telefonnummer">
            </div>
          </div>

          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Ihr Anliegen..." name="message" required></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="pleaseContact" required> Ich wünsche per Email/Telefon kontaktiert zu werden.
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Senden</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-hidden-mobile is-3"></div>
    </div>
  </div>
</section>
