---
layout: layouts/home.njk
eleventyNavigation:
  key: product
  title: Das Produkt
  order: 1

date: Last Modified

tags:
  - main
  - footer
---

<section class="section">
  <div class="container">
    <h3>Kurz erklärt</h3>
    <h2 class="title">Was ist Orderbucket</h2>
    <div class="title-divider"></div>
    <p>Das Produkt richtet sich an Einzelhändler die einen Lieferservice für Ihre Kundschaft einrichten möchten.
      Ähnlich der bekannten Gemüsekiste vom Landwirt um die Ecke. Ihre Kunden bestellen in regelmäßigen Abständen
      Produkte aus Ihrem Sortiment. Mit Hilfe von Orderbucket lässt sich das Packen, Beliefern, Abrechnen und vieles
      mehr einfach organisieren.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-products.png" class="screenshot" alt="Productübersicht Backoffice">
      </div>
      <div class="column">
        <h3>Die Grundlage</h3>
        <h2 class="title">Das Backoffice zur Verwaltung der Angebote</h2>
        <div class="title-divider"></div>
        <p>Mit Hilfe des Backoffices könen Sie Ihre Produkte, Gebinde, Kunden und Lieferungen verwalten. Es stellt Ihre
          Kommandozentrale rund um Ihren Lieferservice dar.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Hilfe zur Selbsthilfe</h3>
        <h2 class="title">Bündelungen von Bestellungen zu Lieferungen</h2>
        <div class="title-divider"></div>
        <p>Oderbucket nimmt die Bestellungen Ihrer Kunden entgegen und sammelt deren Bestellungen. Mit Hilfe von
          Lieferterminen lassen sich Zustellungen Bündeln und so das Packen und Beliefern organisieren. Ein Assitent
          führt Sie sicher durch den Prozess und vereinfacht die Schritte mit Hilfe von durchdachten Masken.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-delivery.png" class="screenshot"
             alt="Bestellungen bündeln im Backoffice">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-customer.png" class="screenshot"
             alt="Kunden pflegen">
      </div>
      <div class="column"><h3>Bleiben Sie in Kontakt</h3>
        <h2 class="title">Kommunikation mit Kunden vereinfacht</h2>
        <div class="title-divider"></div>
        <p>Verwalten sie Ihre Kunden bequem über das backoffice. Dabei können sich neue interessierte Kunden bei Ihnen melden
          und Sie wissen immer genau, wer Ihre Kontaktpersonen sind.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column"><h3>An alles Gedacht</h3>
        <h2 class="title">Lieferscheine, Rechnung und Pfandkonto</h2>
        <div class="title-divider"></div>
        <p>Orderbucket kümmert sich um Lieferscheine für Ihre Kunden und den Kurier, die Rechnungserstellung sowie dem
          Pfandkonto Ihrer Kunden.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/backoffice-deposit2.png" class="screenshot"
             alt="Pfandkonto im Backoffice pflegen">
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-vcentered reverse-column-order">
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/webshop-order.png" class="screenshot"
             alt="Online Präsentation Ihres Sortiments für Kunden">
      </div>
      <div class="column">
        <h3>In Szene gesetzt</h3>
        <h2 class="title">Online Präsentation Ihreres Sortiments</h2>
        <div class="title-divider"></div>
        <p>Wir transporieren Ihr Ladensortiment ins Internet. Mit dem Backoffice lassen sich Produktbilder,
          Beschreibungen und Verfügbarkeiten pflegen und der Auftritt an Ihren Geschmack anpassen.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Der Kunde ist König</h3>
        <h2 class="title">Bestellungen schnell und einfach</h2>
        <div class="title-divider"></div>
        <p>Jeder Ihrer Kunden erhält einen individuellen Zugang zur Zusammenstellung seiner nächsten Lieferung.
        Dabei gibt es einen öffentlichen Bereich, in dem z.B. für eine Snackbox das gesamte Team entscheiden darf
        und einen geschützten Bereich, in dem die Bestellung abgeschickt werden kann.</p>
      </div>
      <div class="column is-narrow has-text-centered">
        <img src="/img/screenshots/webshop-shopping-card.png" class="screenshot"
             alt="Warenkorb eines Kunden">
      </div>
    </div>
  </div>
</section>
